@charset "UTF-8";

/* clearfixç”¨ */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.top-box {
  background-color: #FF9900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 100px;
  box-shadow: 0 2px 4px #AAAAAA;
}

.circle-box-in {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.circle-box {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-box {
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.middle-box {
  background-color: #EEEEEE;
  width: 100vw;
  height: auto;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
}

.under-box {
  background-color: #000033;
  width: 100vw;
  height: 100px;
}
