@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #ff0066;
  display: flex;
  width: 100vw;
  height: 100px;
  position: relative;
  box-shadow: 0 2px 4px #aaaaaa;
}

.circle-box {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 25px;
}

.comment-box {
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  top: 25px;
}

main {
  background-color: #eeeeee;
  width: 100vw;
  height: 75vw;
}

.main-in {
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: center;
}

.main-in .inner {
  max-width: 100%;
}

.main-acount-box {
  background-color: #bbbbbb;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 40px 40px 40px;
}

.main-comment-box {
  background-color: white;
  width: 70%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #aaaaaa;
}

.footer {
  background-color: #000033;
  width: 100vw;
  height: 100px;
}