@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.big-box {
  /* 大きく囲って中央寄せのため相対的に位置を移動 */
  width: 100vw;
  /* height: auto; */
  /* margin: 0 auto; */
}

header {
  background-color: #FF0066;
  display: flex;
  width: 100vw;
  height: 100px;
  position: relative;
  box-shadow: 0 2px 4px #AAAAAA;
}

.circle-box {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 25px;
}

.comment-box {
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  top: 25px;
}

main {
  background-color: #EEEEEE;
  width: 100vw;
  height: 1200px;
}

.main-in {
  padding: 50px 50px 0 50px;
  /* padding-left: 50px; */
  display: flex;
  /* align-items:center; */
  justify-content:center;
  /* justify-content: space-between; */
}

.main-in .inner {
  /* width: 500px; */
  max-width: 100%;
  /* margin: 0 auto; */
}

.main-acount-box {
  background-color: #BBBBBB;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  /* flex-wrap: wrap; */
  margin: 0 40px 40px 40px;
  /* display: inline-block; */
  vertical-align: top;
  /* text-align: center; */
}

.main-comment-box {
  background-color: white;
  width: 70%;
  height: 200px;
  border-radius: 10px;
  /* margin: 40px 0; */
  /* display: inline-block; */
  /* flex-wrap: wrap; */
  /* text-align: center; */
  box-shadow: 2px 2px 4px #AAAAAA;
}

footer {
  background-color: #000033;
  width: 100vw;
  height: 100px;
}

/* testtest */